<section class="jumbotron m-2 bg-light">

  <h1 class="display-7 text-center">About the Project</h1>

  <p class="text-center">
  This project it's available in my Github and use all the following technologies.
  </p>
  
  <div class="img_row">
    <div class="img_column"><img src="/imgs/express.png" alt="html, javascript and css" style="width:100%"></div>
    <div class="img_column"><img src="/imgs/node.png" alt="EJS" style="width:100%"></div>
  </div>

  <div class="img_row">
    <div class="img_column"><img src="/imgs/walmart.jpg" alt="Walmart Open API" style="width:100%"></div>
    <div class="img_column"><img src="/imgs/github.png" alt="Express.js" style="width:100%"></div>
    <div class="img_column"><img src="/imgs/html.png" alt="Node.js" style="width:100%"></div>
  </div>
  
</section>