<section class="container mt-3 bg-light border border-info shadow rounded p-3">

  <h3 class="display-7 text-center">About the project</h3>

  <p class="text-center mt-3">
  This project it's available in my <a href="https://github.com/giovaniv/wpviewer" target="_blank">GitHub</a> 
  and I used all the above technologies.
  </p>

  <div class="img_row text-center">
    <div class="img_column"><img src="/imgs/express.png" alt="html, javascript and css" width="70%" height="70%"></div>
    <div class="img_column"><img src="/imgs/ejs.gif" alt="EJS" width="70%" height="70%"></div>
    <div class="img_column"><img src="/imgs/node.png" alt="EJS" width="70%" height="70%"></div>
  </div>
  <div class="img_row text-center">
    <div class="img_column"><img src="/imgs/walmart.jpg" alt="Walmart Open API" width="70%" height="70%"></div>
    <div class="img_column"><img src="/imgs/github.png" alt="Express.js" width="70%" height="70%"></div>
    <div class="img_column"><img src="/imgs/html.png" alt="Node.js" width="70%" height="70%"></div>
  </div>
  
</section>