    <!-- IF WE COULDN'T FIND ANY CATEGORY WE SHOW A WARNING MESSAGE -->
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Ooopps...</h4>
        <p>It seems that we couldn't find any Category to list here, but no worries...</p>
        <p>Try to reload the page because probably the Walmart Open API is too slow today. Sorry for that.</p>
        <p>Or Maybe, what happens here it's that you search for some category that doesn't exist. Just try something new.</p>
      </div>