
<section class="container-fluid">

    <p class="font-weight-bold pl-3">CATEGORIES</p>
  
    <!-- Filter to search for a category name or substring -->
    <div class="container-fluid">
      <form class="form-inline" method="post" action="/categories">
        <div class="form-group mb-3 pr-2">
          <label for="categoryName" class="sr-only">Search by name:</label>
          <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Category">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Search</button>
      </form>
    </div>
    
    <hr>
  
    <div class="container-fluid">
      <% if (categories && categories.length > 0) { %>
        <div class="row">
          <% for (var i = 0; i < categories.length; i++) { %>
            <% if (i > 0 && i % 4 === 0) { %>
              <div class="w-100"></div>
            <% } %>
            <div class="col">
              <a href="/products/category/<%=categories[i].id%>">
                <font class="small"><%=categories[i].name%></font>
              </a>
            </div>
          <% } %>
        </div>
      <%} else { %>
        <!-- if any category was found (category is empty in the backend) -->
        <%- include('_no_result') %>
      <% } %>
    </div>
  
    <!-- <div class="container-fluid">
      <div class="row">
        <% for (var j = 0; j < total; j++) { %>
        <div class="col">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="/products/category/category_id">
                <font class="small">category_name</font>
              </a>
            </li>
          </ul>
        </div>
        <% } %>
      </div>
    </div> -->
  
  </section>