
<section class="container-fluid">

  <p class="font-weight-bold pl-3">CATEGORIES</p>

  <!-- Filter to search for a category name or substring -->
  <div class="container-fluid">
    <form class="form-inline justify-content-center" method="post" action="/categories">
      <div class="form-group mb-3 pr-2">
        <label for="categoryName" class="sr-only">Search by name:</label>
        <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Category">
      </div>
      <button type="submit" class="btn btn-primary mb-3">Search</button>
    </form>
  </div>

  <!-- CATEGORY LIST -->
  <div class="container-fluid">
    <% if (categories && categories.length > 0) { %>
      <div class="jumbotron m-1 bg-light border border-info">
        <div class="row">
          <% for (var i = 0; i < categories.length; i++) { %>
            <% if (i > 0 && i % 4 === 0) { %>
              <div class="w-100"></div>
            <% } %>
            <div class="col text-left">
              <a href="/products/category/<%=categories[i].id%>">
                <font class="small"><%=categories[i].name%></font>
              </a>
            </div>
          <% } %>
        </div>
      </div>
    <%} else { %>
      <!-- if any category was found (category is empty in the backend) -->
      <%- include('_no_result') %>
    <% } %>
  </div>
  
</section>