<section class="jumbotron m-2">

  <h1 class="display-7 text-center">Welcome to the Walmart Product Viewer App</h1>

  <p class="text-center">
  This is a Web Application to search by categories and products that exist 
  at <a href="https://developer.walmartlabs.com/" target="_blank">Walmart Open API.</a><br>

  It's an Assessment test prepared by <a href="https://www.ensemble.com/" target="_blank">Ensemble</a>
  to test my dev ability and skillset.
  </p>

  <h6>Requirements</h6>
  <ul>
    <li>Use <a href="https://developer.walmartlabs.com/" target="_blank">Walmart Open API</a></li>
    <li>Categories page that displays list of all categories</li>
    <li>Products page that displays list of the first page of products in a category. Product image must be displayed</li>
  </ul>

  <h6>Bonus Points</h6>
  <ul>
    <li>Implement pagination to display all products on the products page rather than only the first page</li>
    <li>Implement client side search filter on categories/products page to filter displayed categories/products by name</li>
    <li>Implement product detail page or modal</li>
  </ul>

</section>