<!-- <section class="content">
    <div class="container-fluid border">
      Main information here
    </div>
  </section> -->

<section class="jumbotron my-2 center">
  <h1 class="display-7 center">Welcome to the Walmart Product Viewer App</h1>
  <p class="lead">
    This is a Web Application to search by categories and products that exist at <a href="https://developer.walmartlabs.com/" target="_blank">Walmart Open API.</a><br>
    It's an Assessment test prepared by <a href="https://www.ensemble.com/" target="_blank">Ensemble</a> to test my dev ability and skillset and I hope to achieve it.<br>
  </p>
</section>