<!-- IF WE COULDN'T FIND ANY PRODUCT or CATEGORY WE SHOW A WARNING MESSAGE -->
<div class="alert alert-warning" role="alert">
<h4 class="alert-heading">Ooopps...</h4>
<p>It seems that we don't have any result to you.</p>
<p>Reload the page to check if it was an API loading issue or try a new search.</p>
</div>