<!doctype html>
<html lang="en">
  <head><%- include('partials/_header') %></head>
  <body>

    <!-- NAVBAR -->
    <%- include('partials/_navbar') %>

    <!-- MAIN CONTENT -->
    <%- include('partials/_about') %>

    <!-- FOOTER -->
    <%- include('partials/_footer') %>

  </body>
</html>