<!doctype html>
<html lang="en">
  <head><%- include('partials/_header') %></head>
  <body>

    <!-- NAVBAR -->
    <%- include('partials/_navbar') %>

    <!-- MAIN CONTENT -->
    <section class="container-fluid">
        <p class="font-weight-bold pl-3">ABOUT</p>
    </section>

    <!-- FOOTER -->
    <%- include('partials/_footer') %>

  </body>
</html>