<!doctype html>
<html lang="en">
  <head><%- include('partials/_header') %></head>
  <body>

    <!-- NAVBAR -->
    <%- include('partials/_navbar') %>

    <!-- MAIN CONTENT -->
    <section class="container mt-3 bg-light border border-info text-danger shadow rounded p-3">
      <h3 class="display-7 text-center">Sorry...</h3>
      <p class="text-center mt-3">
        You're trying a path that we don't have or typed something wrong.<br><br>
        Try to use the links of the WebApp or check the message above to help.<br><br>
        "<%=err%>"
      </p>
    </section>

    <!-- FOOTER -->
    <%- include('partials/_footer') %>

  </body>
</html>