html { 
  height: 100%;
  padding-top: 50px;
}

body {
  min-height: 100%;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
  background-color: whitesmoke;
}
nav {
  position: fixed;
  height: 80px;
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
}

a:focus, a:active {
  outline: none;
  box-shadow: none;
}

.card {
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
}

.card:hover {
  filter: alpha(opacity=60);
  opacity: .6;
}