html { 
  height: 100%;
  padding-top: 50px;
}

body {
  min-height: 100%;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
  background-color: whitesmoke;
}
nav {
  position: fixed;
  height: 80px;
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
}